body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; 
    font-size: 20px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p {
  font-size: 20px;
  text-align: start;
}

.row {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: start
}

.block {
  align-content: flex-start;
  width: 100px;
}

.section {
  margin-top: 50px;
  margin-bottom: 50px;
}